<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
  <div class=" mb-5">
    <div id="glossarList-nav" class="listNav"></div>
  </div>
  <ul id="glossarList" class="row flex-wrapper">
    <f:for each="{items}" as="item">
      <li class="col-12 mb-5">
      	<f:link.action action="show" class="wrapper-link" arguments="{item : item}" pageUid="{settings.detailPid}">
        		<div class="row">
	        		<div class="{f:if(condition: '{item.file}', then: 'col-12 col-sm-10 col-md-10 col-lg-10', else: 'col-12')}">
	              <h3 class="glossar-heading"> {item.term}</h3>
	              <div class="glossar-teaser">
		              <f:format.html>{item.teaser}</f:format.html>
		             <f:comment> <f:link.action action="show" arguments="{item : item}" pageUid="{settings.detailPid}">{f:translate(key: 'tx_glossary_domain_model_item.read_more', default: 'Read more')}</f:link.action>  </f:comment>
	             </div>
	          </div>
	          
	          <div> </div>

	            <div class="col-4 col-sm-2 col-md-2 col-lg-2 glossar-image">
	            		<f:if condition="{item.file.originalResource.publicUrl}">
	                  <f:image src="{item.file.originalResource.publicUrl}" class="glossary-item-image" />
	                 </f:if>
	            </div>
	         
			</div>
          </f:link.action>
      </li>
    </f:for>
  </ul>
</f:section>
</html>
